[submodule "lib/fullPage.js"]
	path = lib/fullPage.js
	url = https://github.com/alvarotrigo/fullPage.js.git
[submodule "lib/normalize.css"]
	path = lib/normalize.css
	url = https://github.com/necolas/normalize.css.git
